In [26]:
import pandas as pd

train = pd.read_csv('data/train.csv')
test = pd.read_csv('data/test.csv')
submission = pd.read_csv('data/sample_submission.csv')

In [27]:
region = pd.read_csv('data/entrc_jeju.txt', sep='|', encoding='euc-kr')

region_columns = [i for i in range(1,19)]
drop_columns = [1,3,4,5,7,10,11,12,13]

region = pd.DataFrame(region.values, columns=region_columns)
region = region[region[1]==50110]
region.drop(axis=1, columns=drop_columns, inplace=True)

In [28]:
region

,2,6,8,9,14,15,16,17,18
0,15595,일도일동,관덕로,0,업무시설,0,일도1동,909309.868796,1502771.574333
1,77548,일도일동,관덕로,0,근린생활시설,0,일도1동,909310.34247,1502778.609833
2,13274,일도일동,관덕로,0,업무시설,0,일도1동,909336.395475,1502807.312568
3,15594,일도일동,관덕로,0,"주택,업무시설",1,일도1동,909322.754454,1502778.687039
4,68104,일도일동,관덕로,0,주택,0,일도1동,909338.411994,1502777.748061
...,...,...,...,...,...,...,...,...,...
89330,59889,우도면,삼양고수물길,0,"주택,공장/창고시설",1,우도면,949577.268273,1502767.669063
89331,62749,우도면,삼양고수물길,0,"주택,공장/창고시설",1,우도면,949546.988213,1502746.593922
89332,62748,우도면,삼양고수물길,0,"주택,공장/창고시설",1,우도면,949568.877611,1502744.017956
89333,88535,우도면,삼양고수물길,0,주택,0,우도면,949556.196951,1502731.240525
89334,59891,우도면,삼양고수물길,0,"주택,공장/창고시설",1,우도면,949580.199037,1502724.133478

In [29]:
train['SEND_CODE'] = train['SEND_SPG_INNB'].apply(lambda x: str(x)[:5])
train['REC_CODE'] = train['REC_SPG_INNB'].apply(lambda x: str(x)[:5])

test['SEND_CODE'] = test['SEND_SPG_INNB'].apply(lambda x: str(x)[:5])
test['REC_CODE'] = test['REC_SPG_INNB'].apply(lambda x: str(x)[:5])

In [ ]:
train[]

In [15]:
region[region.iloc[:,1].isin(train['SEND_CODE'].apply(lambda x: int(x)))]

,50110,13275,5011010100,제주특별자치도,제주시,일도일동,501103349016,관덕로,0,39,0.1,Unnamed: 11,63166,주택,0.2,일도1동,909318.886313,1502808.416396
10317,50110,11170,5011010500,제주특별자치도,제주시,삼도일동,501103349011,공설로,0,9,0,NaN,63185,근린생활시설,0,삼도1동,908654.566382,1.501233e+06
10394,50110,11140,5011010500,제주특별자치도,제주시,삼도일동,501103349090,서광로,0,197,1,NaN,63183,"주택,업무시설",1,삼도1동,908761.776792,1.501365e+06
10633,50110,11440,5011010500,제주특별자치도,제주시,삼도일동,501103349176,전농로,0,45,0,NaN,63177,업무시설,0,삼도1동,908793.474038,1.501838e+06
10635,50110,11470,5011010500,제주특별자치도,제주시,삼도일동,501103349176,전농로,0,46,0,NaN,63176,주택,0,삼도1동,908791.299816,1.501818e+06
10665,50110,11560,5011010500,제주특별자치도,제주시,삼도일동,501103349176,전농로,0,74,1,NaN,63181,주택,0,삼도1동,909079.761781,1.501804e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147120,50130,11320,5013032000,제주특별자치도,서귀포시,표선면,501303350159,성읍정의현로,0,110,0,NaN,63624,주택,1,표선면,934931.926254,1.489173e+06
149220,50130,11305,5013032000,제주특별자치도,서귀포시,표선면,501304850413,서성일로10번길,0,5,3,NaN,63624,"주택,공장/창고시설",1,표선면,935019.070899,1.489248e+06
149250,50130,11560,5013032000,제주특별자치도,서귀포시,표선면,501304850413,서성일로10번길,0,17,0,NaN,63624,주택,0,표선면,935136.244358,1.489200e+06
149402,50130,11290,5013032000,제주특별자치도,서귀포시,표선면,501304850464,성읍정의현로112번길,0,8,3,NaN,63624,주택,0,표선면,934925.675088,1.489259e+06
149439,50130,11650,5013032000,제주특별자치도,서귀포시,표선면,501304850467,성읍정의현로22번길,0,8,2,NaN,63624,주택,0,표선면,935069.627650,1.488280e+06

In [31]:
set(region.iloc[:,1].unique()

array([15595, 77548, 13274, ..., 85937, 49163, 61728], dtype=int64)

In [4]:
test.head()

   index  SEND_SPG_INNB  REC_SPG_INNB DL_GD_LCLS_NM DL_GD_MCLS_NM
0  32000   5.013000e+15  1.165000e+15            식품           농산물
1  32001   5.013000e+15  1.154500e+15            식품           농산물
2  32002   5.013000e+15  4.139000e+15            식품           농산물
3  32003   5.013000e+15  4.221000e+15            식품           농산물
4  32004   5.013000e+15  2.726000e+15            식품           농산물

In [5]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32000 entries, 0 to 31999
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          32000 non-null  int64
 1   SEND_SPG_INNB  32000 non-null  float64
 2   REC_SPG_INNB   32000 non-null  float64
 3   DL_GD_LCLS_NM  32000 non-null  object
 4   DL_GD_MCLS_NM  32000 non-null  object
 5   INVC_CONT      32000 non-null  int64
dtypes: float64(2), int64(2), object(2)
memory usage: 1.5+ MB

In [6]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4640 entries, 0 to 4639
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          4640 non-null   int64
 1   SEND_SPG_INNB  4640 non-null   float64
 2   REC_SPG_INNB   4640 non-null   float64
 3   DL_GD_LCLS_NM  4640 non-null   object
 4   DL_GD_MCLS_NM  4640 non-null   object
dtypes: float64(2), int64(1), object(2)
memory usage: 181.4+ KB

In [7]:
train.isnull().sum()

index            0
SEND_SPG_INNB    0
REC_SPG_INNB     0
DL_GD_LCLS_NM    0
DL_GD_MCLS_NM    0
INVC_CONT        0
dtype: int64

## 데이터 전처리

In [8]:
# 원핫 인코딩
train_one = pd.get_dummies(train)
test_one = pd.get_dummies(test)

## 모델링

In [21]:
from lightgbm import LGBMRegressor

train_X = train_one.drop('INVC_CONT',axis = 1)
train_Y = train_one['INVC_CONT']

#모델 정의
model = LGBMRegressor()

In [22]:
# 모델 학습
model.fit(train_X,train_Y)

LGBMRegressor()

In [23]:
# test 데이터 예측
pred = model.predict(test_one)

## 정답파일 생성

In [24]:
submission['INVC_CONT'] = pred

In [25]:
submission.to_csv('baseline.csv',index = False)